


body {
    background-color: #f6efe4;
    background-image: url(../img/fondo.png);
    
}

/*HEADER*/ 
header {
    background-color: #373636;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}
header nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}
header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-family: "Open Sans", sans-serif;;
    font-size: 27px;
}
header nav ul li {
    color: white;
}
/*
li a:hover {
    color: aqua;
}*/
.logo {
    height: 120px;
    margin-right: 150px;
}

.search {
    margin-left: 200px;
    display: flex;
    
}

.busquedaForm {
    margin-right: 3px;
    background-color: #373636;
    border-radius: 10px;
    border: solid white;
    height: 25px;
    width: 160px;
    color: white;
    
}
.lupita {
    height: 30px;
}


/*HOME*/
.contenedorpadre {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-bottom: 30px;
}

/*aside*/
.categoriasI {
    width: 400px;
    margin-left: 25px;
}
.categoriasI nav ul {
    list-style: none;
}
.categoriasI nav ul li {
    background-color: white;
    padding: 5px;
    margin-top: 15px;
    width: 60%;
    border: solid #a09b9b;
    border-radius: 10px;
}
.categoriasI nav ul li a{
    display: block;
    text-decoration: none;
    color: #a09b9b;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}
.titulocategoria {
    color: #FF9800;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    margin-left: 12%;
}
/*productos*/
#sectionVendidos {
    width: 800px;
}
#titulovendidos {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-left: 150px;
}
.masvendidos {
    width: 800px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.vendidos {
    width: 220px;
    /*background-color: #565353;*/
    margin: 5px;
    border: solid #a09b9b;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.vendidos h2 {
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: #FF9800;
    text-align: center;
}
.vendidos p {
    color: #373636;
    margin-left: 3px;
}
.foto1 {
    display: block;
    margin: auto;
    width: 85%;
    height: 170px;
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px;
    
}
.detalle {
    width: 100px;
    text-decoration: none;
    background-color: #FF9800;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
}
.sectionAleatorios {
    width: 100%;
}
.productosAleatorios{
    margin: auto;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.tituloaleatorios {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}


/*LOGIN*/
.mainlogin {
    background-image: url(../img/formulariologin.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}


.tituloformulario {
    color: antiquewhite;
    font-weight: 1500;
    letter-spacing: 5px;
    margin-top: 0%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.cuadrado {
    background-color: #0D0D0D;
    border-radius: 5px; 
    border: none;
    font-size: 20px;
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
}
.enviar {
    background-color: #FF9800;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 170px;
    margin-bottom: 10px;
    padding: 10px;
}
.cuenta {
    color: cornsilk;
    font-size: 23px;
    font-weight: 500;
}

/*REGISTRO*/
.mainregister{
    background-image: url(../img/formularioregistro.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.registro {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
    
.terminos {
    font-size: 23px;
    color: antiquewhite;
    margin-bottom: 15px;
    font-weight: 550;
}


/*FOOTER*/
footer{
    background-color: #373636;
    display: flex;
    justify-content: center;
}

.nombres{
    color: white;
    font-size: 25px;
    margin: 50px 40px 30px 120px;
    letter-spacing: 1px;
}


/*PRODUCT*/
.product {
    width: 70%;
    margin-top: 150px;
}
.imglimonada {
    margin: 10px;
    width: 30%;
    height: 350px;
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px;
}
.limonada {
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
    padding: 8px;
}
.detalleproduct {
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
}
.titulolimonada {
    color: #FF9800; 
}
.tituloreviews {
    text-align: center;
    color: #FF9800; 
}
.reviews {
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px; 
    margin-top: 15px; 
    padding: 1px;
}
.review {
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 20px; 
}
.usuario {
    background-color:  #e3dede;
    border-radius: 10px;
    padding: 2px;
    margin-left: 5px;
}

/*SEARCH-RESULTS*/
.resultadosencontrados {
    width: 100%;
    margin-top: 35px;
    margin-left: 25px;
    font-size: 20px;
}

/*CATEGORIAS*/
.categoriaCompleta {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.sectionCategorias {
    width: 800px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.tituloAcompañamientos {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    font-size: 40px;
    height: 0;
}





/*RESPONSIVE*/
@media (max-width: 460px) {
    header {
    background-color: #373636;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    header nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    }
    header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: none;
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    }
    header nav ul li {
    color: white;
    }
    .logo {
    height: 100px;
    margin: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    header nav ul {
        display: flex;     
        flex-direction: row;      
        flex-wrap: nowrap; 
        margin: 0;
        padding: 0;
    }
    
    .mainregister{
        flex-direction: column;
    }
    .mainlogin {
        flex-direction: column;
    }
    .titulocategoria {
        text-align: center;
        margin: 15px auto 15px auto;
    }
    .categoriasI {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .categoriasI nav {
       width: 490px;
    }
    .categoriasI ul {
        width: 600px;
        margin: 10px;
    }
    .login {
        margin: 20px 0px 30px 0px;
    }
    .registro {
    margin: 20px 0px 30px 0px;
    }
    .cuadrado {
        width: 370px;
    }
    footer{
    background-color: #373636;
    display: flex;
    flex-wrap: wrap;
    }
    .tituloformulario {
        color: #3c872d;
    }
    .nombres {
        text-align: center;
        font-size: 22px;
        margin: 15px 0px 10px 0px;
    }
    .logo {
        margin: 0%;
    }
    
}



