body {
    background-image: url(../img/fondo.png);
}

/*HEADER*/
header {
    background-color: #373636;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-family: "Open Sans", sans-serif;  
    font-size: 27px;
}

header nav ul li {
    color: white;
}
.welcome-message{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-family: "Open Sans", sans-serif;  
    font-size: 22px;
}
#logout {
    font-size: 25px;
}
.logo {
    height: 120px;
    margin-right: 150px;
}

.search {
    margin-left: 200px;
    display: flex;
}

.busquedaForm {
    margin-right: 3px;
    background-color: #373636;
    border-radius: 10px;
    border: solid white;
    height: 25px;
    width: 160px;
    color: white;
}

.lupita {
    height: 30px;
}


/*HOME*/
.contenedorpadre {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-bottom: 30px;
    align-items: flex-start;
}

/*aside*/
.categoriasI {
    width: 35%;
    margin-left: 25px;
}

.categoriasI nav ul {
    list-style: none;
}

.categoriasI nav ul li {
    background-color: white;
    padding: 5px;
    margin-top: 15px;
    width: 60%;
    border: solid #a09b9b;
    border-radius: 10px;
}

.categoriasI nav ul li a {
    display: block;
    text-decoration: none;
    color: #a09b9b;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}

.titulocategoria {
    color: #FF9800;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    margin-left: 12%;
}

/*productos*/
.sectionVendidos {
    width: 60%;
}

.titulovendidos {
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-size: 50px;
    margin-left: 150px;
    width: 100%;
}

.masvendidos {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vendidos {
    width: 220px;
    margin: 5px;
    border: solid #a09b9b;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.vendidos h2 {
    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: #FF9800;
    text-align: center;
}

.vendidos p {
    color: #373636;
    margin-left: 3px;
}

.foto1 {
    display: block;
    margin: auto;
    width: 85%;
    height: 170px;
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px;
}

.detalle {
    width: 100px;
    text-decoration: none;
    background-color: #FF9800;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
}


/*LOGIN*/
.mainlogin {
    background-image: url(../img/formulario-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.formularios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 50%;
    margin-top: 5%;
    margin-right: 10%;
}

.logo2 {
    width: 35%;
}

.tituloformulario {
    color: antiquewhite;
    font-weight: 1500;
    letter-spacing: 5px;
    margin-top: 0%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadrado {
    background-color: #0D0D0D;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
}

.enviar {
    background-color: #FF9800;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 170px;
    margin-bottom: 10px;
    padding: 10px;
}

.cuenta {
    color: cornsilk;
    font-size: 23px;
    font-weight: 500;
}

/*REGISTRO*/
.mainregister {
    background-image: url(../img/formulario-registro.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.terminos {
    font-size: 23px;
    color: antiquewhite;
    margin-bottom: 3%;
    font-weight: 550;
}


/*FOOTER*/
footer {
    background-color: #373636;
    display: flex;
    justify-content: center;
}

.nombres {
    color: white;
    font-size: 25px;
    margin: 50px 40px 30px 120px;
    letter-spacing: 1px;
}


/*PRODUCT*/
.product {
    width: 60%;
    margin-top: 150px;
}

.imgProducto {
    margin: 10px;
    width: 30%;
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px;
}

.productoDetalle {
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
    padding: 8px;
}

.detalleproduct {
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
}

.titulo-producto {
    color: #FF9800;
}

.tituloreviews {
    text-align: center;
    color: #FF9800;
}

.reviews {
    border: solid #a09b9b;
    background-color: #f6f3ec;
    border-radius: 10px;
    margin-top: 15px;
    padding: 1px;
}

.review {
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 20px;
}

.usuario {
    background-color: #e3dede;
    border-radius: 10px;
    padding: 2px;
    margin-left: 5px;
}

/*SEARCH-RESULTS*/
.resultadosencontrados {
    width: 100%;
    margin-top: 35px;
    margin-left: 25px;
    font-size: 20px;
}

/*CATEGORIAS*/
.categoriaCompleta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.sectionCategorias {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   height: auto;
}

.tituloAcompanamientos {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    font-size: 50px;
    font-family: "Anton", sans-serif;
}


/*RESPONSIVE*/
@media (max-width: 420px) {

    /*header*/
    * {
        box-sizing: border-box;
        max-width: 100%;
    }

    main{
            min-height: 1000px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    header nav ul li a {
        list-style: none;
        text-decoration: none;
        color: white;
        margin: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
    }

    header nav ul li {
        color: white;
    }

    .logo {
        height: 100px;
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
    }

    /*HOME*/
    .contenedorpadre {
        margin: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    /*aside*/
    .titulocategoria {
        text-align: center;
        margin: 0;
        margin-top: 2%;
    }

    .categoriasI {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .categoriasI nav {
        width: 100%;
        align-items: center;
        margin: 0;
        margin-right: 10%;
    }

    .categoriasI ul {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionVendidos {
        width: 100%;
    }

    .vendidos {
        width: 43%;
        margin: 5px;
    }

    .vendidos h2 {
        font-size: 20px;
    }

    .foto1 {
        width: 80%;
    }

    .detalle {
        font-size: 17px;
    }

    .titulovendidos {
        width: 80%;
        margin-left: 12%;
        font-size: 30px;
    }

    /*categoria*/
    .tituloAcompanamientos {
        margin-left: 6%;
        font-size: 37px;
        margin: 3px;
        margin-top: 15%;
        margin-bottom: 0px;
    }

    .mainregister {
        flex-direction: column;
    }

    .mainlogin {
        flex-direction: column;
    }

    .formularios {
        width: 100%;
        height: 500px;
        justify-content: center;
        align-items: center;
    }

    .cuadrado {
        width: 370px;
    }

    footer {
        background-color: #373636;
        display: flex;
        flex-wrap: wrap;
    }

    .tituloformulario {
        color: #3c872d;
    }

    .nombres {
        text-align: center;
        font-size: 22px;
        margin: 15px 0px 10px 0px;
    }

    .logo {
        margin: 0%;
    }

    .product {
        width: 100%;
    }

    .imglimonada {
        height: 30%;
        margin-top: 30%;
    }
}

/*JAVA*/
.error {
    color: #f7f7f6;
    font-weight: 700;
    font-size: 20px;
}
.dinamico {
    text-decoration: none;
    color: #e98c02;
}

