body {
    background-color: #f6efe4;
}
header {
    background-color: #373636;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}
header nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}
header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
/*
li a:hover {
    color: aqua;
}*/
#logo {
    height: 120px;
    margin-right: 80px;
}


/*LOGIN*/
.login {
    background-image: url(../img/formulario2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logologin {
    display: block;
    margin: 40px auto 0px auto;
}
h1 {
    color: antiquewhite;
    font-weight: 1200;
    letter-spacing: 5px;
    margin-top: 0px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.cuadrado1 {
    background-color: #0D0D0D;
    border-radius: 5px; 
    border: none;
    font-size: 20px;
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
}
.cuadrado2 {
    background-color: #0D0D0D;
    border-radius: 5px; 
    border: none;
    font-size: 20px;
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
}
.ingresar {
    background-color: #FF9800;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 170px;
    margin-bottom: 20px;
    padding: 15px;
}
.sincuenta {
    color: cornsilk;
    font-size: 20px;
    font-weight: 500;
}

/*REGISTER*/